html {
    height:100%;
}
body{
    margin:auto;
}
#page {
    margin:auto;
}
#content {
    border-color: darkgreen;
    border-style: solid;
    -webkit-transition: all 2s;
    margin: auto;
    width: 1500px;
    height: 580px;
    border-color: darkgreen;
    background-image: url(../image/04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: frams 15s infinite;
}
@keyframes frams {
    25% {
        transition: all 1s;
        background-image: url("../image/07.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat
    }

    50% {
        background-image: url("../image/04.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat
    }

    75% {
        background-image: url("../image/01.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat
    }

    100% {
        background-image: url("../image/02.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat
    }

}
#content_right {
    margin-top:20px;
    height: 400px;
    width: 320px;
    background-color: white;
    border-color: darkgreen;
    border-style: solid;
    float: right;
    margin-right: 150px;
    text-align:center;
}
#content_right p {
  color:darkgreen;
  font-size:25px;
}
#header {
    height: 120px;
    background-color: white;
    margin-top: -10px;
}
#footer {
    height: 150px;
    background-color: white;
    text-align:center;
}
#logo {
    font-size: 60px;
    color: darkgreen;
    margin-top:-10px;
}
#tb_login{
    margin-left:40px;
    font-size:20px;
}

a {
    color: darkgreen;
    font-size: 15px;
    text-decoration:none;
}
.txt {
 border-radius:3px;
 border-style:solid;
 border-color:darkgreen;
 border-width:1px;
 width:190px;
 height:28px;
}
    .txt:hover, .txt:active {
        box-shadow: 0px 0px 7px darkgreen;
    }
#bt_login {
    font-size: 13px;
    border-radius: 5px;
    width: 100px;
    height: 28px;
    border-style: solid;
    background-color: white;
    border-color: darkgreen;
    float: right;
}

    #bt_login:hover, #bt_login:active {
        box-shadow: 3px 3px 10px darkgreen;
    }
#lblError {
    float:left;
}
#txt_account {
    background-image: url(../image/account.PNG);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}
#txt_password {
    background-image: url(../image/password.PNG);
    background-repeat: no-repeat;
    background-position: left;
    padding-left:30px;
}